.app{
    text-align: center;
    margin-top: 50px;
}
body{
    background-color: #160101;
    color: white;
}
table{
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 2px 5px 10px #e56905;
}
td {
    padding: 12px 15px;
    border-color: #27e2d8;
    color: aqua;
}
th{
    padding: 12px 15px;
    border-color: #dfe1e1;
    color: white;
}